<ion-header>
  <ion-navbar>
    <ion-title><img src="../../assets/imgs/logo-website.png" height="50" width="200"/>恒星环宇国际税务工作室</ion-title>

    <button class="EnglishBtn" ion-button color="dark">English</button>
    <ion-toolbar>
      <ion-grid>
        <ion-row>
          <ion-col>
            <button ion-button menuToggle icon-only>
              <ion-icon name="menu"></ion-icon>
            </button>
          </ion-col>
          <ion-col>
            <button ion-button color="dark" (click)="navTo('aboutus')">关于我们</button>
          </ion-col>
          <ion-col>
            <button ion-button color="dark">企业视野</button>
          </ion-col>
          <ion-col>
            <button ion-button color="dark">境内税讯</button>
          </ion-col>
          <ion-col>
            <button ion-button color="dark">境外税讯</button>
          </ion-col>
          <ion-col>
            <button ion-button color="dark">国别速览</button>
          </ion-col>
          <ion-col>
            <button ion-button color="dark">申报资料</button>
          </ion-col>
          <ion-col>
            <button ion-button color="dark">咨询通道</button>
          </ion-col>
          <ion-col>
            <button ion-button color="dark">观点透视</button>
          </ion-col>
          <ion-col>
            <ion-searchbar
                    [(ngModel)]="myInput"
                    [showCancelButton]="shouldShowCancel"
                    (ionInput)="onInput($event)"
                    (ionCancel)="onCancel($event)">
            </ion-searchbar>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-slides autoplay="2000" loop="true" speed="500">
    <ion-slide>
      <h1>多语种一站式落地服务</h1>
    </ion-slide>
    <ion-slide>
      <h1>境外涉税境内对接</h1>
    </ion-slide>
    <ion-slide>
      <h1>高精尖经营团队</h1>
    </ion-slide>
  </ion-slides>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <img src="assets/imgs/taxfree.png" height="300" width="500" (click)="presentAboutusModal('aboutus')"/>
          <ion-card-content>
            <ion-card-title>
              关于我们
            </ion-card-title>
            <p>
              The most popular industrial group ever, and largely
              responsible for bringing the music to a mass audience.
            </p>
          </ion-card-content>
        </ion-card>
        testA
      </ion-col>
      <ion-col>
        <ion-card>
          <img src="assets/imgs/taxfree.png" height="300" width="500" (click)="presentAboutusModal('vision')"/>
          <ion-card-content>
            <ion-card-title>
              企业视野
            </ion-card-title>
            <p>
              The most popular industrial group ever, and largely
              responsible for bringing the music to a mass audience.
            </p>
          </ion-card-content>
        </ion-card>
        testB
      </ion-col>
      <ion-col>
        <ion-card>
          <img src="../../assets/imgs/TBD筹划方案.jpeg" height="300" width="500" />
          <ion-card-content>
            <ion-card-title>
              待定
            </ion-card-title>
            <p>
              The most popular industrial group ever, and largely
              responsible for bringing the music to a mass audience.
            </p>
          </ion-card-content>
        </ion-card>
        testC
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card>
          <img src="../../assets/imgs/境内税讯.jpeg" height="300" width="500" (click)="navTo('domestictax')"/>
          <ion-card-content>
            <ion-card-title>
              境内税讯
            </ion-card-title>
            <p>
              The most popular industrial group ever, and largely
              responsible for bringing the music to a mass audience.
            </p>
          </ion-card-content>
        </ion-card>
        testD
      </ion-col>
      <ion-col>
        <ion-card>
          <img src="assets/imgs/taxfree.png" (click)="navTo('nationaltax')" height="300" width="500"/>
          <ion-card-content>
            <ion-card-title>
              境外税讯
            </ion-card-title>
            <p>
              The most popular industrial group ever, and largely
              responsible for bringing the music to a mass audience.
            </p>
          </ion-card-content>
        </ion-card>
        testE
      </ion-col>
      <ion-col>
        <ion-card>
          <img src="assets/imgs/taxfree.png" height="300" width="500"/>
          <ion-card-content>
            <ion-card-title>
              国别速览
            </ion-card-title>
            <p>
              The most popular industrial group ever, and largely
              responsible for bringing the music to a mass audience.
            </p>
          </ion-card-content>
        </ion-card>
        testF
      </ion-col>
    </ion-row>
    <ion-row>
    <ion-col>
      <ion-card>
        <!--<img src="assets/imgs/taxfree.png" />-->

        <img src="../../assets/imgs/申报资料.jpeg" height="300" width="500" (click)="navTo('nationaltax')"/>
        <ion-card-content>
          <ion-card-title>
            申报资料
          </ion-card-title>
          <p>
            The most popular industrial group ever, and largely
            responsible for bringing the music to a mass audience.
          </p>
        </ion-card-content>
      </ion-card>
      testG
    </ion-col>
    <ion-col>
      <ion-card>
        <img src="../../assets/imgs/咨询通道.png" (click)="navTo('domestictax')" height="300" width="500"/>
        <ion-card-content>
          <ion-card-title>
            咨询通道
          </ion-card-title>
          <p>
            The most popular industrial group ever, and largely
            responsible for bringing the music to a mass audience.
          </p>
        </ion-card-content>
      </ion-card>
      testH
    </ion-col>
    <ion-col>
      <ion-card>

        <img src="../../assets/imgs/观点透视.jpeg" height="300" width="500"/>
        <ion-card-content>
          <ion-card-title>
            观点透视
          </ion-card-title>
          <p>
            The most popular industrial group ever, and largely
            responsible for bringing the music to a mass audience.
          </p>
        </ion-card-content>
      </ion-card>
      testI
    </ion-col>
  </ion-row>
  </ion-grid>



  <!--<ion-item class="files">
    My BDP
    <ion-icon name="ios-arrow-down" item-right *ngIf="isShow" (click)="isShow=!isShow"></ion-icon>
    <ion-icon name="ios-arrow-forward" item-right *ngIf="!isShow" (click)="isShow=!isShow"></ion-icon>
  </ion-item>
  <ion-grid *ngIf="isShow">
    <ion-row>
      <ion-col *ngFor="let list of folderList" col-6>
        <ion-list no-lines>
          <ion-item (click) = "navTo(list.id)">
            <ion-icon name="folder" item-left color="danger"></ion-icon>
            {{list.name}}
            <p><span *ngIf = "list.folder_count != '0'" >{{list.folder_count}}</span>&nbsp;folders&nbsp;&nbsp;<span *ngIf = "list.dashboard_count !='0'">{{list.dashboard_count}}&nbsp;dashboards</span></p>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>-->

  <!--<ion-item class="chart">
    <div #EchartsContent  class="EchartsDiv"></div>
  </ion-item>-->


</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>contact us!!!</ion-title>
  </ion-toolbar>
</ion-footer>