page-app{
    
    .menu-footer button{  
        color: black;  
    }  
    .changePadding{
        font-size: 1.25em;
        margin-right: 5px;
    }
    .iconColor{  
        color: gray; 
    }
    .item.item-md .checkbox-md{
        position: absolute;
        left: 90px;
        top: 5px;
    }
    .checkbox-md .checkbox-icon{
        border-radius: 50%;
        width: 20px;
        height: 20px;
    }
    .checkbox-md .checkbox-checked .checkbox-inner{
        left: 6px;
        top: 1px;
    }
}
